*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,33);
    color: #fff;  
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: rgb(18,18,62);

}
.left{
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: center;
    
}
nav ul li{
    margin: 0 1rem;
    list-style-type: none;
}
 ul a{
    text-decoration: none;
    color: white;

 }
 .firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5rem 0 ;
 
 }
 .firstSection > div{
    width: 40%;

 }
 .leftSection{
    font-size: 2rem;

 }
.rightSection img{
    width: 80%;
}
.purple{
    color:rgb(26, 40, 227);
}
